html , body{
    width: 100%;
    height:100%;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.main{
    width: 100%;
    height:100%;
    position: relative;
}
.nav{
    height: 100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: 2px solid #dadada;

}
.nav i{
    font-size: 1.5vw;
    font-weight: 800;
    display: none;

}
.nav-part2{
    display:flex;
    gap: 4vw;
    align-items: center;
}
.nav h2{
    font-size: 1.5vw;
    font-weight: 600;
}
.nav h4{
    font-size: 1.1vw;
}
.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: rgb(178, 136, 216);
    border: none;
    border-radius: 5px;
}
.content{
    height:calc(100% - 100px);
    width:100%;
   /* background-color: rgb(239, 228, 228);*/
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 50%;
    padding: 5vw 5vw;
}
.left h1{
    font-size: 3vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: rgb(178, 136, 216);
}
.left p{
    font-size: 1vw;
   font-weight: 600;
   color: #666;
   width: 80%;
   margin-top: 1.5vw;
   margin-bottom: 3vw;
}
.right{
    height: 100%;
    width: 50%;
   
}
.right img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    padding: 0 5vw;
    margin-top: 5vw;
    margin-left: 12vw;

    
}
.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: rgb(178, 136, 216);
    border: none;
    border-radius: 5px;
}
@media (max-width:600px){
    .nav{
        padding:0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display:none;
    }
    .nav i{
        display: block;
        font-size: 6vw;
    }
    .nav button{
        display:none;
    }
    .content{
        height:calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width:100%;
        height:50%; 
        padding:5vw 6vw;
    }
    .right{
        width:100%;
        height:50%;
    }
    .left h1{
        font-size:8vw;
        line-height:11vw;
    }
    .left p{
      font-size: 3vw;
      width:90%;
      margin-top:5vw ;
      margin-bottom: 6vw;
    }
    .content button{
        padding :3vw 6vw;
        font-size: 3.5vw;
        border-radius: 3px;
        font-weight: 600;
    }
}
